*{
	text-decoration: none;
}
li{
	list-style-type:none;	
}
.clearfix{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
[class^='icon_']{
	background:url("../images/sprites.png") no-repeat;
	background-size: 200px 200px;
}